<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Ingeniería en informática
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Arquitectura</ion-label>
      <ion-select placeholder="Más info">
      
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Calidad de software</ion-label>
      <ion-select placeholder="Más info">
        <ion-button>sig</ion-button>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Doctrina social de la iglesia</ion-label>
      <ion-select placeholder="Más info">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Estadistica descriptiva </ion-label>
      <ion-select placeholder="Más info">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Etica para el trabajo</ion-label>
      <ion-select placeholder="Más info">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Inglés intermedio</ion-label>
      <ion-select placeholder="Más info">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Programación de aplicaciones moviles</ion-label>
      <ion-select placeholder="Más info">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>



  
</ion-content>
