<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido de vuelta {{data.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es bueno tenerte por aquí! :D
    </ion-card-content>
    <ion-button (click)="animar()" (click)="animar2()" (click)="animar3()" (click)="animar4()" (click)="animar5()" (click)="animar6()" (click)="animar7()" (click)="animar8()" (click)="animar9()" (click)="animar10()" (click)="animar11()" (click)="animar12()" (click)="animar13()" (click)="animar14()" (click)="animar15()" (click)="animar16()" (click)="animar17()" (click)="animar18()">Click aquí! :D</ion-button>
  </ion-card>

<ion-group>

  <ion-item>
    <ion-icon id="icon" name="alarm-outline"></ion-icon>
    <ion-label class="text">
      Horario
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon id="icon2" name="calendar-outline"></ion-icon>
    <ion-label class="text">
      Asistencia
    </ion-label>
    <ion-icon name="arrow-forward-outline" [routerLink]="['/asistencia']"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon id="icon3" name="checkmark-outline"></ion-icon>
    <ion-label class="text">
      Calificaciones
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon id="icon4" name="school-outline"></ion-icon>
    <ion-label class="text">
      Cursos
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon id="icon5" name="wallet-outline"></ion-icon>
    <ion-label class="text">
      Credencial virtual
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon id="icon6" name="receipt-outline"></ion-icon>
    <ion-label class="text">
      Certificados
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

    <ion-item>
      <ion-icon id="icon7" name="receipt-outline"></ion-icon>
      <ion-label class="text">
        Eventos
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
 
    <ion-item>
      <ion-icon id="icon8" name="card-outline"></ion-icon>
      <ion-label class="text">
        TNE
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon9" name="cash-outline"></ion-icon>
      <ion-label class="text">
        Finanzas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon10" name="cash-outline"></ion-icon>
      <ion-label class="text">
        Solicitud en línea
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon11" name="mail-outline"></ion-icon>
      <ion-label class="text">
        E-mail
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon12" name="mail-outline"></ion-icon>
      <ion-label class="text">
        Foros
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon13" name="person-circle-outline"></ion-icon>
      <ion-label class="text">
        Perfil académico
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon14" name="notifications-outline"></ion-icon>
      <ion-label class="text">
        Anuncios
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon15" name="newspaper-outline"></ion-icon>
      <ion-label class="text">
        Tareas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon16" name="bar-chart-outline"></ion-icon>
      <ion-label class="text">
        Encuestas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon17" name="checkmark-circle-outline"></ion-icon>
      <ion-label class="text">
        Mensajes
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="icon18" name="settings-outline"></ion-icon>
      <ion-label class="text">
        Configuración
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

  </ion-group>

</ion-content>

