<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>Bienevenido {{usuario}}</ion-label>

<ion-group>

  <ion-item>
    <ion-label>
      Horario
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      Asistencia
    </ion-label>
    <ion-icon name="arrow-forward-outline" [routerLink]="['/asistencia']"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      Calificaciones
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      Cursos
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      Credencial virtual
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      Certificados
    </ion-label>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-item>

    <ion-item>
      <ion-label>
        Eventos
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
 
    <ion-item>
      <ion-label>
        TNE
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Finanzas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Solicitud en línea
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        E-mail
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Foros
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Perfil académico
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Anuncios
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Tareas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Encuestas
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Mensajes
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Configuración
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>


  </ion-group>

</ion-content>
